# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
/queesticfent-back/target
/queesticfent-commons/target
/queesticfent-ear/target
/queesticfent-ejb/target
/queesticfent-front/target
/rungenapp/qef_queesticfent_SCHEMA_BASE.sql
/rungenapp/lastconfig.properties
/queesticfent-persistence/.classpath
/queesticfent-persistence/.project
/queesticfent-persistence/.settings
/queesticfent-persistence/target
/queesticfent-model/.project
/queesticfent-model/.settings
/queesticfent-model/target
/queesticfent-model/.classpath
/queesticfent-front/.project
/queesticfent-front/.settings
/queesticfent-front/target
/queesticfent-front/.classpath
/queesticfent-ejb/.project
/queesticfent-ejb/.settings
/queesticfent-ejb/target
/queesticfent-ejb/.classpath
/queesticfent-ear/.project
/queesticfent-ear/.settings
/queesticfent-ear/target
/queesticfent-commons/.project
/queesticfent-commons/.settings
/queesticfent-commons/target
/queesticfent-commons/.classpath
/queesticfent-back/.project
/queesticfent-back/.settings
/queesticfent-back/.classpath
/queesticfent-back/output.odt
queesticfent-api-externa/target/
/basecamp-api3/.settings
/basecamp-api3/target
/basecamp-api3/.classpath
/basecamp-api3/.project
/basecamp-api3/basecamp_api_3.properties
/basecamp-api3/basecamp_token.properties
/queesticfent-api-externa-client/target
/queesticfent-api-externa-client/settings.gradle
/queesticfent-api-externa-client/.github
/queesticfent-api-externa-client/.openapi-generator-ignore
/queesticfent-api-externa-client/.travis.yml
/queesticfent-api-externa-client/build.gradle
/queesticfent-api-externa-client/build.sbt
/queesticfent-api-externa-client/git_push.sh
/queesticfent-api-externa-client/gradle.properties
/queesticfent-api-externa-client/gradlew
/queesticfent-api-externa-client/gradlew.bat
/queesticfent-api-externa/.settings
/queesticfent-api-externa/.project
/queesticfent-api-externa/.classpath
test.properties
installCerts.bat
scripts/.project
scripts/.settings/org.eclipse.core.resources.prefs
scripts/.settings/org.eclipse.m2e.core.prefs
.project
api.bat
queesticfent-api-externa-client/.classpath
pemfiles/
.settings/
