
# --------- Informació del token
# No es necessari omplir dades, només una ruta vàlida
basecamp_token_properties_file=./basecamp_token.properties


# --------- Connexió
# Per crear una integració i obtenir aquestes dades cridar a https://launchpad.37signals.com/integrations
client_id=7f827149caf2b1160bc23cggh97590c55d5f3b0e
client_secret=63e431efder45678sdfghjfe2edad6939f0710e0
redirect_uri=http://localhost:8080/token
urlBase=https://3.basecampapi.com/


# --------- Organització
# Número que apareix just despres de  basecamp.com/
organizationID=4456777

